# 3장 데이터 입력과 출력

R.Version()

1. 데이터의 입력
    - 1) 키보드를 통한 데이터의 입력
    - 2) 외부파일을 통한 데이터 불러오기
        - txt, csv, xlsx, 웹사이트, 

2. 데이터의 출력
    - sink() 함수
    - cat() 함수
    - write.table() 함수
    - write.xlsx() 함수
    - writeWorksheetToFile() 함수

## 1. 데이터의 입력

### 1) 키보드를 통한 데이터의 입력

c() 함수를 이용한 입력

In [1]:
v1 = c(51, 56, 80, 78, 99 )

v1

scan() 함수를 이용한 입력

- scan() 함수를 이용하여 (63,73,27,32,69,98)과 같은 벡터 v2 생성  - RStudio에서 실습.

v2 = scan()

edit() 함수를 이용한 입력

- edit() 함수를 실행시키면 나타나는 데이터 편집기 창에 데이터를 직접 입력하는 방식
- 편집기 창은 마치 엑셀과 같은 스프레드시트 형태이지만 데이터프레 임이 이미 생성되어 있어야 사용할 수 있기 때문에 미리 빈 데이터프 레임을 생성시켜 놓아야 함

In [8]:
dat1 = data.frame()
dat1 = edit(dat1)

dat1

read.table() 함수를 이용한 데이터 불러오기

- read.table() 함수를 이용하기 위해서는 우선 스프레드시트 형태의 외부파일이 존재해야 함
- 스프레드시트 형태를 가지는 데이터는 행과 열이 있는 2차원의 구조 를 갖는데, 각 행은 관찰치를 의미하고 각 열은 변수 값을 의미
- 한 관찰치 내에서 변수 값들 사이에는 빈칸, 탭, 콜론(:), 콤마(,) 와 같은 구분기호가 사용되어 변수 값들을 분리
- example2-1.txt 파일
```
153 150 A
151 149 B
153 155 C
158 145 D
142 153 E
146 153 F
```

In [11]:
dat2_1 = read.table(file="example2-1.txt")

In [ ]:
dat2_1

example2-2.txt 는 탭으로 분리되어 있 고 맨 윗줄에 변수명이 존재하는 텍스트 형태
```
Current Innov Loc
153 150 A
151 149 B
153 155 C
158 145 D
142 153 E
146 153 F
```

In [13]:
dat2_2 = read.table(file="example2-2.txt", header=TRUE)

In [ ]:
dat2_2

example2-3.txt는 결측치 가 NA와 miss로 표시
```
Current Innov Loc
153 150 A
151 149 B
153 NA C
158 145 D
142 153 E
miss 153 F
```

In [16]:
dat2_3 = read.table(file="example2-3.txt", header=TRUE, na.strings="miss")

In [ ]:
dat2_3

- R에서는 NA를 결측치로 인식하게 된다. 그런데 NA로 표현되어 있지 않은 다른 문자도 결측치라면 na.strings 옵션을 이용
- 각 관찰치 내의 변수 값들 사이에는 빈칸이나 탭이 아니라 콜론이나 콤마로 구분되어 있다면 sep 옵션을 활용하여 구분자를 지정(sep=",")

example2-4.txt 는 콤마로 변수 값 들이 구분
```
Current, Innov, Loc
153, 150, A
151, 149, B
153, 155, C
158, 145, D
142, 153, E
146, 153, F
```

In [18]:
dat2_4 = read.table(file="example2-4.txt", header=TRUE, sep=",")

In [ ]:
dat2_4

read.csv() 함수를 이용한 데이터 불러오기

- CSV이란 comma separated values 란 영문의 약어
- CSV 파일은 콤마가 구분기호로 사용된 데이터를 의미
- CSV 형태의 데이터 파일은 read.csv() 함수 이용

example2-4.txt은 CSV 형식의 데이터 파일

In [20]:
dat2_5 = read.csv(file="example2-4.txt")

In [ ]:
dat2_5

read.csv() 함수는 header=TRUE 와 sep="," 옵션이 디폴트

scan() 함수를 이용한 데이터 불러오기
- scan() 함수는 what이라는 옵션을 이용하여 입력될 변수의 명칭과 변수값의 유형을 정의
- numeric 유형이라면 0과 같은 숫자를 입력하면 되고, character 유형 이라면 “”을 사용

scan() 함수를 통해 결측치가 있었던 example 2-3.txt 파일을 읽어오는 명령문

In [1]:
dat2_6 = scan(file="example2-3.txt", what=list(Current=0, Innov=0, Loc=""), skip=1, sep="", na.string="miss")

In [2]:
dat2_6

$Current
[1] 153 151 153 158 142  NA

$Innov
[1] 150 149  NA 145 153 153

$Loc
[1] "A" "B" "C" "D" "E" "F"

- scan() 함수에는 header 옵션이 존재하지 않으므로 example2-3.txt과 같은 첫째줄에 변수명이 나오는 파일에서는 둘째줄부터 데이터를 읽 을 필요
- skip=1 옵션은 파일내의 첫째줄을 건너뛰고 둘째줄부터 데이터를 읽으라는 명령
- dat2_6는 데이터프레임이 아니고, 리스트인데 리스트를 데이터프레임으로 변환하고자 한다면 다음과 같이 수행

In [3]:
dat2_7 = as.data.frame(dat2_6)

In [ ]:
dat2_7

read.xlsx() 함수를 이용한 데이터 불러오기
- R은 다른 Excel 등 다른 소프트웨어에서 저장된 파일을 데이터로 불러 읽을 수 있음
- Excel 2007 이후의 형식으로 저장되어 있는 데이터를 R로 바로 불러 들이려면 우선 xlsx라는 패키지를 설치하고 활성화한 뒤 read.xlsx() 이용

In [7]:
install.packages('xlsx', repos='http://cran.nexr.com/' )

also installing the dependencies 'rJava', 'xlsxjars'

package 'rJava' successfully unpacked and MD5 sums checked
package 'xlsxjars' successfully unpacked and MD5 sums checked
package 'xlsx' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Y.G JI\AppData\Local\Temp\Rtmpaqrury\downloaded_packages

In [8]:
library(xlsx)

Loading required package: rJava
Loading required package: xlsxjars

In [9]:
dat2_8 =read.xlsx(file="example2-2.xlsx", sheetIndex=1)

In [ ]:
dat2_8

- sheetIndex=1 옵션은 Excel 파일의 첫 번째 워크시트를 의미
- Excel 97-2003 버전의 파일형식인 xls 형식을 사용하고자 한다면, XLConnect라는 패키지를 설치하고 활성화한 뒤 readWorksheetFromFile() 함수를 사용
- 참고로 readWorksheetFromFile() 함수는 Excel 모든 버전 파일에 적용 가능하여 Excel 2007 이후 버전인 example2-2.xlsx 파일도 읽음

웹사이트에서 데이터 불러오기

- 웹사이트에는 파일의 형태로 저장된 많은 공개된 데이터가 있으며 R에서는 이러한 공개 데이터를 손쉽게 불러올 수 있음
- read.table() 함수를 사용할 때 파일의 이름 대신 웹사이트 상의 파일의 주소를 적어 주면 가능함
- OzDASL 사이트에서 auction.txt 라는 파일을 읽어 들이는 방법

In [11]:
website ="http://www.statsci.org/data/general/auction.txt"
dat2_11 = read.table(website, header=TRUE)

In [ ]:
dat2_11

## 2. 데이터의 출력

sink() 함수를 이용한 결과 저장하기

- R의 Console 창에 나오는 결과를 외부파일로 저장하기 위해 사용하는 함수는 sink()
- sink("파일명") 과 같은 형식으로 구동되며 결과를 저장하고자 하는 작업이 모두 끝나면 sink() 함수를 다시 한 번 실행시켜서 외부파일로 저 장하는 작업을 멈추게 해야 함
- 아래 코드는 Jupyter에서는 안 되고, RStudio에서 가능함.

In [17]:
setwd('D:/Work_Git/R_Bio/part01/week1_160726/01_basic')
sink("output1.txt")
v1 = c(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, NA)
mean(v1,na.rm=TRUE)
sink()

[1] 10

source() 함수를 sink() 함수와 함께 사용하면 매우 간편하게 R 프로그램을 사용할 수 있음

- example1.R
```
3*(-7)
sqrt(25)
```

- 아래 코드는 Jupyter에서는 안 되고, RStudio에서 가능함.

In [18]:
setwd('D:/Work_Git/R_Bio/part01/week1_160726/01_basic')
sink("output2.txt")
source("example1.R", echo=TRUE)
sink()

> 3 * (-7)
[1] -21

> sqrt(25)
[1] 5

cat() 함수를 이용한 결과 저장하기

- cat() 함수는 여러 개의 객체를 동시에 출력하여 파일로 저장시키는 방법
- sink() 함수와는 달리 cat() 함수는 줄 단위로 결과를 저장
    - file 옵션을 사용하여, 저장하고자 하는 외부파일의 명칭을 지정하며 append=TRUE 옵션을 사용하여 기존 파일의 맨 아래 줄에 결과를 이어 붙이고자 할 때 사용
    - 만약 append 옵션을 사용하지 않으면, 기존 파일의 내용을 덮어쓰게 되어 이전 결과를 모두 지우게 된다
    - cat() 함수의 명령부분의 ” “ 사이의 문장은 단순한 문자열을 의미하여 R에서는 주어진 대로 출력시키고 v1은 v1 벡터의 실제 값들을 출력

In [19]:
setwd('D:/Work_Git/R_Bio/part01/week1_160726/01_basic')
v1 = c(1, 3, 5, 7, 9) 
v2 = c(2, 4, 6, 8, 10) 
v3 = v1 * v2 
v4 = v1 + v2
cat( "Vector v1= (", v1, ")", "\n", file="output3.txt" )
cat( "Vector v2= (", v2, ")", "\n", file="output3.txt", append=TRUE )
cat( "v1 * v2 = (", v3, ")", "\n", file="output3.txt", append=TRUE )
cat( "v1 + v2 = (", v4, ")", "\n", file="output3.txt", append=TRUE )

write.table() 함수를 이용한 결과 저장하기

- R 작업으로 인해 생성된 데이터를 외부파일로 저장시키기 위해서 write.table() 함수를 사용
- R의 기본 데이터로 제공되는 iris 데이터를 write.table() 함수를 이용하여 외부파일 로 저장하고 row.names, quote, sep 옵션에 따라 결과가 어떻게 달라지는지 살펴보기

In [21]:
setwd('D:/Work_Git/R_Bio/part01/week1_160726/01_basic')
write.table( iris, "iris1.txt" ) 
write.table( iris, "iris2.txt", row.names=FALSE ) 
write.table( iris, "iris3.txt", row.names=FALSE, quote=FALSE ) 
write.table( iris, "iris4.txt", row.names=FALSE, quote=FALSE, sep="\t" ) 
write.table( iris, "iris5.txt", row.names=FALSE, quote=FALSE, sep="," )

write.xlsx() 함수를 이용한 결과 저장하기

- Excel 2007 이후 버전의 파일로 데이터를 저장하기 위한 함수는 xlsx 패키지내의 write.xlsx() 함수
- 패키지가 설치된 상태에서 library(xlsx)로 활성화한 뒤 내장된 iris데이 터 저장

In [22]:
library(xlsx)

In [23]:
setwd('D:/Work_Git/R_Bio/part01/week1_160726/01_basic')
write.xlsx( iris, "iris.xlsx" )